body {
  font-family: sans-serif;
  margin: 0;
}
button {
  margin: 0 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 16px;
}
button:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}
.area {
  margin: 8px;
  border-radius: 10px;
  padding: 8px 40px;
}
#input-area {
  background-color: yellow;
  padding: 8px 16px;
}
input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 8px 16px;
}
#complete-area {
  background-color: skyblue;
  min-height: 200px;
}
#incomplete-area {
  background-color: lightgreen;
  min-height: 200px;
}
h1 {
  font-size: 22px;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin-right: 8px;
}
.list-row {
  display: flex;
  margin: 10px 0;
  align-items: center;
}
